@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: black;
    background: white;
}

a {
    color: black;
}

/* 목록의 마커 제거 */
li {
    list-style: none;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 54px;
    padding: 0 32px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

h1 {
    padding: 4px 0;
}

nav li {
    display: inline-block;
    padding: 13px 16px;
}



/* section common */
section {
    width: 1496px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.section {
    padding-top: 81px;
}

.section h2 {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.section h2+p {
    margin-bottom: 32px;
}

/* section1 */
#main_img {
    position: relative;
}


#main_img h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #555;
    padding: 8px 24px;
}

/* section2, 3 common */
#menu ul,
#event ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu li,
#event li {
    width: 362px;
    border: 1px solid black;
}

#menu li:not(:nth-of-type(4n)),
#event li:not(:nth-of-type(4n)) {
    margin-right: 16px;
}


/* section2 */
#menu {
    position: relative;
}

#menu h2 {
    margin-bottom: 48px;
}

#menu h3 {
    position: absolute;
    padding: 8px 16px;
    border: 1px solid black;
}



/* section3 */

#event li h3 {
    margin: 16px 0 8px;
}

#event li p {
    margin: 8px 0;
}

#event li a {
    display: block;
    background: #eee;
    color: #000;
    text-align: center;
    padding: 8px 0;
    margin-top: 16px;
    border: 1px solid black;
}

/* section4 */

/* footer */
footer {
    text-align: center;
    padding: 32px 0;
    border: 1px solid black;
}