@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css); */

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

body {
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #777;
}

/* 공통 */
#wrap {
    /* 가로 가운데 맞춤 */
    /* width: 1200px; */
    margin: 0 auto;
}

#wrap header,
.qmenu {
    width: 1200px;
    margin: 0 auto;
}

header,
.contents,
footer {
    display: flex;
}


/* 헤더 */
header {
    position: relative;
    height: 80px;

}

/* 로고 */
header .logo {
    position: absolute;
    width: 155px;
    height: 47px;
    margin: 20px auto;
}

/* 상단 메뉴 */
.t_menu {
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
}

.topmenu {
    display: flex;
    position: absolute;
    right: 200px;
}

.topmenu a {
    margin-right: 40px;
    padding-right: 30px;
}

.topmenu a:not(:nth-of-type(4)) {
    border-right: 1px solid rgb(161, 161, 161);
}

.search {
    position: absolute;
    right: 20px;
}


/* 내비게이션 */
nav {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 9999;
}

nav .main {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

nav li {
    width: 120px;
    text-align: center;
}

nav .main>li>a {
    display: block;
    font-size: 1.8rem;
    color: #000;
}

nav .main>li:nth-of-type(6)>a,
nav .main>li:nth-of-type(7)>a,
nav .main>li:nth-of-type(8)>a {
    color: #0697e1;
}

nav .main>li>a:hover {
    color: #0697e1;
    border-bottom: 3px solid #0697e1;
}

.sub {
    display: none;
    padding: 10px 0 0 0;
    background: #fff;
    width: 180px;
}


.sub a {
    display: block;
    width: 180px;
    font-size: 1.4rem;
    color: #666;
}

.sub a:hover {
    background: #0697e1;
    color: #fff;
}

/* 메인 콘텐츠 */
/* 메인이미지 */
#main_img {
    position: relative;
}


#main_img h2 {
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 32px;

}

/* 하위 컨텐츠 */
.contents {
    display: flex;

}

.contents>div {
    height: 200px;
}

/* 하위 컨텐츠 1 */
.contents .service {
    position: relative;
    width: 35%;
    padding: 12px 24px 24px 0;
}

.contents .service>a,
.contents .service>p {
    position: absolute;
    left: 50%;
}

.contents .service>p {
    top: 30%;
}

/* 탭 메뉴 */
.firsttabs {
    padding-top: 12px;
    padding-left: 24px;
    width: 30%;
    background-clip: content-box;
    background: #0697e1;
}

.firsttabs a {

    margin-right: 318px;
    color: #fff;
}

.firsttabs input,
.firsttabs>div {
    display: none;
}

.firsttabs label {
    display: inline-block;
    border: 2px solid #444;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-bottom: 8px;
    cursor: pointer;
}


#btn_first1:checked~#tab_first1,
#btn_first2:checked~#tab_first2,
#btn_first3:checked~#tab_first3,
#btn_first4:checked~#tab_first4,
#btn_first5:checked~#tab_first5,
#btn_first6:checked~#tab_first6,
#btn_first7:checked~#tab_first7 {
    display: block;
}

#btn_first1:checked+label,
#btn_first2:checked+label,
#btn_first3:checked+label,
#btn_first4:checked+label,
#btn_first5:checked+label,
#btn_first6:checked+label,
#btn_first7:checked+label {
    background: #111;
    color: #fff;
}

#tab_first1 {
    margin-top: 20px;
}

#tab_first1 li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
}




.tab_firstContents {
    position: relative;
}

.tab_firstContents img {
    width: 200px;
    height: 130px;
    position: absolute;
    right: 10px;
    bottom: -20px
}


/* 공지사항 */
.notice {
    width: 35%;
    background: #0669e1;
    color: #fff;
    padding: 12px 24px 24px 24px;
}

.notice a {
    color: #fff;
}


/* 하위 컨텐츠 2 */
.gray_contents {
    background: #f0f3f4;
}

/* 스토리 */
.contents .story {
    position: relative;
    width: 35%;
    padding: 12px 24px 24px 0;
}

.contents .story>a,
.contents .story>p {
    position: absolute;
    left: 50%;
}

.contents .story>p {
    top: 40%;
}

/* 탭 메뉴 */
.secondtabs {
    padding-top: 12px;
    padding-left: 24px;
    width: 30%;
    background-clip: content-box;
}

.secondtabs a {
    margin-right: 276px;
}

.secondtabs input,
.secondtabs>div {
    display: none;
}

.secondtabs label {
    display: inline-block;
    border: 2px solid #444;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-bottom: 8px;
    cursor: pointer;
}


#btn_second1:checked~#tab_second1,
#btn_second2:checked~#tab_second2,
#btn_second3:checked~#tab_second3,
#btn_second4:checked~#tab_second4,
#btn_second5:checked~#tab_second5,
#btn_second6:checked~#tab_second6,
#btn_second7:checked~#tab_second7 {
    display: block;
}

#btn_second1:checked+label,
#btn_second2:checked+label,
#btn_second3:checked+label,
#btn_second4:checked+label,
#btn_second5:checked+label,
#btn_second6:checked+label,
#btn_second7:checked+label {
    background: #111;
    color: #fff;
}

#tab_second1 {
    margin-top: 20px;
}

#tab_second1 li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
}



#tab_second1 a:hover {
    color: #333;
}

.tab_secondContents {
    position: relative;
}

.tab_secondContents img {
    width: 200px;
    height: 130px;
    position: absolute;
    right: 10px;
    bottom: -80px
}


/* 뉴스 */
.news {
    width: 35%;
    /* background: #0669e1; */
    color: #5d5d5d;
    padding: 12px 24px 24px 24px;
}




/* 퀵 메뉴 */
.qmenu {
    height: 100px;
}

.qmenu ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

/* 푸터 */
footer {
    position: relative;
    display: flex;
    padding-top: 23px 0;
    padding-left: 550px;
    background: #495860 url(../images/logo2.webp) no-repeat 300px 50%;
    color: #ccc;
}

footer ul {
    display: flex;
    justify-content: left;
}

footer li {
    margin-right: 20px;
}

footer li a {
    color: #fff;

}

.terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 100px;
}

.familysite {
    position: absolute;
    right: 400px;
    top: 20px;
    display: flex;
}
.familysite select{
    height: 30px;
}
