@charset "utf-8";

#wrap{
    width: 1200px;
    margin: 0 auto;
}
.logo, .nav, #contents div, footer div{
    /* float: left; */
    display: flex;
}

/* 헤더 */
/* 로고 */
.logo{
    width: 200px;
    height: 100px;
    background: lightpink;
}
/* 네비게이션 */
nav{
    
}