@charset "utf-8";
@import url('reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css');
@import url('typo.css');
@import url('nav.css');
@import url('layout.css');

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Play&display=swap');

/* 헤더 */
#header {
    z-index: 9999;
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background: transparent;
    /* background: #fdd000; */
}

/* 로고 */
.logo {
    text-align: center;
    letter-spacing: .5rem;
    line-height: 1.4;
}

.logo b {
    display: block;
    font-weight: normal;
    font-size: 2.2rem;
}

.logo span {
    font-size: 1.6rem;
}

/* 풀 페이지 비디오 */
/* .vid {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
} */

/* 섹션1 케로셀 */
.bs-wrapper{
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    box-shadow: none;
    border: none;
    background: transparent;
}
.bx-viewport{
    height: 100vh !important;
}
/* 페이저 */
.bx-wrapper .bx-pager {
    bottom: 60px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border: 1px solid #555;
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    outline: 0;
    border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: violet;
    transform: scale(1.5);
    transition: .3s;
    border: none;    
}
/* 좌우버튼 */
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 78px;
    height: 78px;
    }
.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../images/prev.png') 0 0px no-repeat;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url('../images/next.png') 0px 0px no-repeat;
}

.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover {
    background-position: 0px 0;
}

/* prev/next */
#slideWrap .btn {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50px;
}

#slideWrap .btn a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: #95B0B6;
    transition: color .3s;
}

#slideWrap .btn a:hover {
    color: #324B50;
}

#slideWrap #prev {
    left: 10%;
}

#slideWrap #next {
    left: 90%;
}

/* pager */
#slideWrap .pager {
    display: flex;
    z-index: 999;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#slideWrap .pager a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 15px;
    transition: .3s;
    cursor: pointer;;
}

#slideWrap .pager a img {
    width: auto;
    opacity: 0;
    transform: translate(-40%, -40%);
    transition: .5s;
}

#slideWrap .pager a.active img {
    opacity: 1;
}